@{
  ViewData["Title"] = "Home Page";
  // Layout = null;
  // ViewBag.Title = "Home Page";
}

<div class="text-center">
  <h1>@ViewData["Title"]</h1>
  <h2 class="display-4">Chào anh chị em đến với kênh youtube Coding With Thinh</h2>

</div>
